{
  "app": {
    "name": "Phonograph",
    "identifier": "app.phonograph.desktop",
    "version": "1.3.3"
  },
  "runtime": {
    "exitOnLastWindowClosed": true
  },
  "build": {
    "bun": {
      "entrypoint": "src/desktop/index.ts"
    },
    "copy": {
      "dist-desktop/": "views/mainview/"
    },
    "mac": {
      "titleBarStyle": "hiddenInset",
      "codesign": true,
      "notarize": true,
      "icons": "icon.iconset"
    }
  },
  "scripts": {
    "preBuild": "./scripts/pre-build.ts"
  },
  "release": {
    "baseUrl": ""
  }
}
