[build]
  base    = "/"
  publish = "/dist"
  command = "yarn; yarn build"
  functions = "lambda/"

[build.environment]
  NODE_VERSION = "20.19.0"

[[redirects]]
  from = "/rss-full/*"
  to="/.netlify/functions/findCast?term=:splat"
  status=200

[[redirects]]
  from = "/image/*"
  to = ":splat"
  status = 200
  force = true
  headers = { Cache-Control = "public, max-age=604800", Expires = "Mon Jul 31 2023 22:40:30 GMT-0400" }

[[redirects]]
  from = "/ignoreme/*"
  to = ":splat"
  status = 200
  force = true

[[redirects]]
  from = "/media/*"
  to = ":splat"
  status = 200
  force = true

[[redirects]]
  from = "/podcasts/*"
  to = "https://feedwrangler.net/api/v2/podcasts/:splat"
  status = 200

[[redirects]]
  from="/api/*"
  to="/.netlify/functions/:splat"
  status=200

[[redirects]]
  from="/raw/*"
  to="/.netlify/functions/findCast/:splat"
  status=200

[[redirects]]
  from="/lhead/*"
  to="/.netlify/functions/findFinal/:splat"
  status=200

[[redirects]]
  from="/search/*"
  to="/.netlify/functions/appleSearch"
  status=200
  force = true

[[redirects]]
  from = "/ln/*"
  to = "/.netlify/functions/listenNotesProxy/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
